

/*00 Reusable CSS -----------------00*/
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
     font-size: 62.5%;
}
a{
     text-decoration: none;
}
img{
     width: 100%;
}
li{
     list-style: none;
}
p{
     color: #727272;
     text-align: center;
     font-family: Work Sans;
     font-size: 1.5rem;
     font-weight: 400;
     line-height: 2.3rem; 
}
.secondary-headache{
     color: #131313;
     font-family: Work Sans;
     font-size: 3.5rem;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}
/* primary-btn */
.primary-btn{
     border-radius: .5rem;
     background: #FF900E;
     color: #FFF;
     text-align: center;
     font-family: Work Sans;
     font-size: 1.6rem;
     font-weight: 600;
     padding: 1.6rem 2rem;
     transition: all .3s ease;
     display: inline-block;
}
.primary-btn:hover{
     background: #ce7107;
}
/* container sizing */
.container{
     width: 75vw;
     margin: 0 auto;
}
