/* big tablete max 992px  */
@media screen and (max-width:992px) {
     html{
          font-size: 58%;
     }
     .container{
          width: 85vw;
     }
     .header-banner .banner-description{
          width: 80%;
     }
     /* team */
     .team-section{
          flex-direction: column;
          gap: 2rem;
     }
     .team-section .team-imagesh, .team-section .team-description{
          width: 100%;
     }
     
}

/* mine tablet max 768px  */
@media screen and (max-width:768px) {
     html{
          font-size: 53%;
     }
     .container{
          width: 90vw;
     }
     /* navber */
     nav, .team-section{
          flex-direction: column;
          gap: 3rem;
     }
     nav ul{
          gap: 8rem;
     }
     .header-banner .banner-description{
          width: 90%;
          text-align: justify;
     }
     /* team section */
     .team-section .team-imagesh, .team-section .team-description{
          width: 100%;
     }

}

/* mobile max-576px */
@media screen and (max-width:576px) {
     html{
          font-size: 47%;
     }
     .container{
          width: 90vw;
     }
     /* navber */
     nav ul{
          gap: 2rem;
     }
     .header-banner .banner-description{
          width: 90%;
     }
     /* team */
     .team-section .team-imagesh{
          grid-template-columns: 1fr;
          gap: 1rem;
     }

}

/* mime mobile max-350px */
@media screen and (max-width:350px) {
     html{
          font-size: 35%;
     }
     nav ul{
          flex-wrap: wrap;
     }
}