
@media screen and (max-width:992px) {
     html{
          font-size: 62.5%;
     }
     .container{
          width: 85vw;
     }

     
}


@media screen and (max-width:768px) {
     html{
          font-size: 62.5%;
     }
     .container{
          width: 90vw;
     }



}


@media screen and (max-width:576px) {
     html{
          font-size: 62.5%;
     }
     .container{
          width: 90vw;
     }



}