/* big tablete max 992px  */
@media screen and (max-width:992px) {
     html{
          font-size: 58%;
     }
     .container{
          width: 85vw;
     }
     .header-banner .banner-description{
          width: 80%;
     }
     /* team */
     .features-section{
          flex-direction: column-reverse;
     }
     .team-section{
          flex-direction: column;
          gap: 2rem;
     }
     .team-section .team-imagesh, 
     .team-section .team-description,
     .features-section .features-description,
     .features-section .features-port-imges{
          width: 100%;
     }
     /* sponspors-section */
     .sponspors-titel .secondary-dis{
          width: 70%;
     }
     
}

/* mine tablet max 768px  */
@media screen and (max-width:768px) {
     html{
          font-size: 53%;
     }
     .container{
          width: 90vw;
     }
     /* navber */
     nav, .team-section{
          flex-direction: column;
          gap: 3rem;
     }
     nav ul{
          gap: 8rem;
     }
     .header-banner .banner-description{
          width: 90%;
          text-align: justify;
     }
     /* team section */
     .team-section .team-imagesh, .team-section .team-description{
          width: 100%;
     }
     /* facts-section */
     .facts-section .facts-para{
          width: 60%;
     }
     /* Sponspors start */
     .sponspors-titel .secondary-dis{
          width: 85%;
     }
     .sponspors-logo{
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
     }
     .sponspors-logo img{
          width: 50%;
     }

}

/* mobile max-576px */
@media screen and (max-width:576px) {
     html{
          font-size: 47%;
     }
     .container{
          width: 90vw;
     }
     /* navber */
     nav ul{
          gap: 2rem;
     }
     .header-banner .banner-description{
          width: 90%;
     }
     /* team */
     .team-section .team-imagesh{
          grid-template-columns: 1fr;
          gap: 1rem;
     }
     /* facts-section */
     .facts-section .facts-para{
          width: 70%;
     }
     /* Sponspors start */
     .sponspors-titel .secondary-dis{
          width: 95%;
     }
     .sponspors-logo{
          grid-template-columns: 1fr;
          justify-content: center;
          gap: 3rem;
     }
     .sponspors-logo img{
          width: 40%;
     }
}

/* mime mobile max-350px */
@media screen and (max-width:350px) {
     html{
          font-size: 35%;
     }
     nav ul{
          flex-wrap: wrap;
     }
}