/*01 header section start ------------01*/
header{
     background: rgba(255, 144, 14, 0.10);
     padding-bottom: 4rem;
}
/* navbar */
nav{
     display:flex;
     align-items: center;
     justify-content: space-between;
     padding: 4.5rem 0;
}
nav ul{
     display:flex;
     align-items: center;
     justify-content: center;
     gap: 3rem;
}
nav li a{
     color:  #424242;
     font-size: 18px;
     font-weight: 500;
}
/* naver */

/* banner start */
.header-banner .banner-heading{
     color: #131313;
     text-align: center;
     font-family: Work Sans;
     font-size: 6rem;
     font-weight: 700;
     word-wrap: break-word;
}
.header-banner .banner-description{
     width: 70%;
     margin: 0 auto;
     padding-top: 1.5rem;
}
.header-exprement .buttons-dive{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 6rem 0;
}
/* banner end */
/* 01 header section end ------------01 */

/* 02 team section start ------------02 */
.team-section{
     display:flex;
     align-items: center;
     /* gap: 4rem; */
     justify-content: space-between;
}
.team-section .team-imagesh{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
     width: 45%;
}
.team-section .team-description{
     width: 45%;
}
.team-description .team-para{
     text-align: left;
     font-size: 1.3rem;
     padding: 1.5rem 0;
}
.team-description .span-one{
     color: #727272;
}
.team-description .span-two{
     color: #FF900E;
}
/* 02 team section end --------------02 */

/* 03 Features start */
.features-section{
     display:flex;
     align-items: center;
     gap: 10rem;
}
.features-section .features-description{
     width: 50%;
}
.features-section .features-port-imges{
     width: 50%;
}
/* .features-card-prante{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
     margin: 2rem 0;
} */
.features-titel .features-heading-one{
     position: relative;
     padding-left: 2rem;
}
.features-titel .features-heading-one::before{
     content: '';
     position: absolute;
     width: 5px;
     /* height: 106px; */
     height: 100%;
     top: 0;
     left: 0;
     background: #FF900E;
}
.features-card{
     border-radius: .5rem;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
     padding: 2rem;
     margin: 2rem 0;
}
.mine-para{
     color: #727272;
     font-family: Work Sans;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px; 
     text-align: left;
     padding-top: 1.5rem;
     
}
/* 03 Features end */

/* 04 Facts start */
.facts-para{
     width: 50%;
     margin-bottom: 7rem;
}
.facts-section .facts-category-section{
     display:flex;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap: 2rem;
}
.facts-category-section .facts-category{
     text-align: center;
     border-radius: 8px;
     border: 1px solid #FF900E;
     width:20rem;
     height:20rem;
     display:flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 2rem;
}
.facts-category img{
     width: 20%;
}
.facts-category h3{
     color: #424242;
     font-family: Work Sans;
     font-size: 4rem;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
}
.facts-category p{
     color: #727272;
     font-family: Work Sans;
     font-size: 1.5rem;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
}
/* 04 Facts end */

/* 05 Sponspors start */
.sponspors-titel{
     text-align: center;
}
.sponspors-titel .secondary-dis{
     width: 50%;
     margin: 0 auto;
     padding: 2rem 0 4rem 0;
}
.sponspors-logo{
     /* display:flex;
     align-items: center;
     justify-content: space-between;
     gap: 2rem;
     flex-wrap: wrap; */
     text-align: center;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 2rem;
     flex-wrap: wrap;
}
.sponspors-logo img{
     width: 80%;
}
/* 05 Sponspors end */

/* 06 footer start */
.footer-section{
     border-radius: 8px;
     background: #FFF4E7;
     padding: 2rem 1rem;
}
/* 06 footer end */